---
import Layout from "../layouts/Layout.astro";
import Wrapper from "../components/Wrapper.astro";
import { Basic } from "../components/basic";
import { Code } from "../components/code";
---

<Layout title="TwicPics - Basic Example">
  <main>
    <Wrapper title="A basic example">
      <p>
        TwicPics is a Responsive Image Service Solution (SaaS) that enables
        on-demand responsive image generation.
      </p>
      <p>
        TwicPics Components make it dead easy to unleash the power of TwicPics.
      </p>
      Here the properties used in this example:
      <ul>
        <li>
          <Code>ratio</Code>:
          <span>
            &nbsp;determines the value of the width/height ratio of the image
            display area.
          </span>
        </li>
        <li>
          <Code>mode</Code>:<span>
            determines if the image fills or sits inside the area.</span
          >
        </li>
        <li>
          <Code>focus</Code>:<span>
            changes the focus point coordinates of the image.</span
          >
        </li>
        <li>
          <Code>placeholder</Code>:
          <span>
            helps optimize your CLS and implement the LQIP technique.</span
          >
        </li>
      </ul>
      <Basic client:load />
    </Wrapper>
  </main>
</Layout>
