---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div>
  <h1>{title}</h1>
  <slot />
</div>
<style>
  h1 {
    margin-bottom: 1rem;
  }
  :global(p) {
    margin-bottom: 0.5rem;
    text-align: justify;
  }
  :global(p:last-of-type) {
    margin-bottom: 2rem;
  }
</style>
